@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');


.genos-font-600 {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.genos-font-400 {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

